<h2>Edit</h2>

<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="pokemon[name]">Name:</label>
  <input name="pokemon[name]" value="<%= @pokemon.name %>">
  <br/>
  <img src="<%=@pokemon.img_url%>">
  <br/>
  <label for="pokemon[img_url]">Image URL</label>
  <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
  <br/>
  <label for="pokemon[poke_type]">Pokemon Type</label>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">
  <br/>
  <label for="pokemon[cp]">Combat Power</label>
  <input name="pokemon[cp]" value="<%= @pokemon.cp %>">
  <br/>
  <input type="submit" value="Update">
</form>
<br/>
<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Murder!">
</form>
<p><a href="/pokemon">Home</a></p>
