<h2></h2>
<p><%=@pokemon.name.capitalize%></p>
<p><img src="<%=@pokemon.img_url%>"></p>
<p>Type: <%=@pokemon.poke_type.capitalize%></p>
<p>CP: <%=@pokemon.cp%></p>
<p><a href="/pokemon/<%=@pokemon.id%>/edit">Edit Pokemon</a></p>
<p><a href="/pokemon">Home</a></p>
